<div class="text-center">
  <h1>Clinics</h1>
</div>
<%= link_to "New Clinic", new_clinic_path, class:'btn btn-primary btn-sm' %>
<hr/>
<div class="row">
  <div class="col-8">
    <%= form_with url: "/clinics", method: :get do |f| %>
      <%= f.label :query, "Search for:" %>
      <%= f.search_field :query %>
      <%= f.submit "Search" %>
      <%= link_to "Reset", clinics_path %>
    <% end %>
  </div>
</div>
<br/>

<% if @clinics.empty? %>

  <p class='text-center'>No Clinic records</p>

<% else %>

  <div id="clinics" class="container">
    <div class="row row-cols-3 text-center">
      <% @clinics.limit(12).each do |clinic| %>
        
        <div class="col">
          <div class="card p-1 m-1" id="clinic">
            <div class="card-body">
              <h5 class="card-title"><%= clinic.name %></h5>
                <p class="card-text"><%= render clinic %></p>
                <%= link_to "Show this Clinic", clinic, class:'rounded-pill btn btn-secondary btn-sm' %>
            </div>
          </div>
        </div>
            
      <% end %>
    </div>
  </div>

<% end %>


