<div class="card">
  <div class="card-header text-center fs-5"><%= @clinic.name %></div>
  <div class="card-body">
    <p class="card-text"><%= render @clinic %></p>
    <div class="text-end">
      <%= link_to "Edit this Clinic", edit_clinic_path(@clinic), class:'text-end btn btn-info btn-sm' %>
      <%= link_to 'Back to Clinics', clinics_path, class:'btn btn-info btn-sm' %>
    </div>
  </div>
</div>

<div class="text-end mt-4">
  <%= link_to "Delete Clinic", @clinic, class:'btn btn-danger btn-sm', data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete the <#{@clinic.name}> Clinic?"
        } %>
</div>
