<p>Clinics on your account:  <%= link_to "Add Clinic", new_clinic_path, class:'btn btn-info btn-sm' %></p>
<div class="container">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="col-4" scope="col">Name</th>
        <th class="col-6" scope="col">Address</th>
        <th class="col-2" scope="col">Show</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% if current_account.clinics.empty? %>

        <tr>
          <td colspan="4" class="text-center">Added Clinics will appear here</td>
        </tr>

      <% else %>

        <% current_account.clinics.limit(3).each do |clinic| %>

          <tr>
            <td scope="row"><%= clinic.name %></td>
            <td><%= clinic.address %></td>
            <td class="text-center"><%= link_to "Show this Clinic", clinic, class:'rounded-pill btn btn-secondary btn-sm' %></td>
          </tr>
                  
        <% end %>

        <tr>
          <td class="text-center p-0" colspan="4"><%= link_to "See all Clinics", clinics_path, class:'btn btn-secondary form-control'  %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>