<% if account_signed_in? %>

  <nav class="navbar navbar-nav-scroll" id="fixed">
    <div class="container list-group">
      <ul class="list-group" id="shadow" >

        <li class="list-group-item d-flex align-items-start" id="color-this">
          <div id="color-this">
            <div class="fw-bold">Upcoming Appointments</div>
            <% @count = 0 %>
            <ul>
            <% @appointments.order(:date, :time).each do |appointment|%>

              <% if appointment.date > @today %>
                
                <% @count += 1 %>
                <li>
                  <%= link_to appointment_path(appointment) do %>
                    <%= appointment.date.strftime('%B %-d, %Y') %>
                    <%= appointment.time.strftime('%-I:%M%P') %>
                  <% end %>
                </li>

              <% elsif appointment.date == @today && appointment.time > @time %>
                
                <% @count += 1 %>
                <li>
                  <%= link_to appointment_path(appointment) do %>
                    <%= appointment.date.strftime('%B %-d, %Y') %>
                    <%= appointment.time.strftime('%-I:%M%P') %>
                  <% end %>
                </li>

              <% end %>
              
            <% end %>
            </ul>
          </div>
          <span class="badge bg-primary rounded-pill"><%= @count %></span>
        </li>

      </ul>
    </div>
  </nav>
<% end %>
