
<% if account_signed_in? %>

  <h1 class="text-center" >Account Overview</h1>
  <hr/>

  <h5 class="text-end fw-normal"><%= @today %></h5>
  <h6>Summary:</h6>
  <ul>
    <li>Clinics on Account: <%= current_account.clinics.count %></li>
    <li>Doctors on Account: <%= current_account.doctors.count %></li>
    <li>Patients on Account: <%= current_account.patients.count %></li>
  </ul>

  <p>The account page will display the first 3 entries for Clinics, Doctors & Patients. Click "See All" for the full list.</p>

  <hr/>
  
  <%= render "clinics" %>
  <br/>
  <hr/>

  <%= render "doctors" %>
  <br/>
  <hr/>

  <%= render "patients" %>
  <br/>
  <hr/>

<% else %>

  <h3 class='text-center'>Please sign in to continue or sign up to get started!</h3>

<% end %>

