<p style="color: green"><%= notice %></p>

<%= render @calendar %>

<div>
  <%= link_to "Edit this calendar", edit_calendar_path(@calendar) %> |
  <%= link_to "Back to calendars", calendars_path %>

  <%= button_to "Destroy this calendar", @calendar, method: :delete %>
</div>
