<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= patient.account_id %>
  </p>

  <p>
    <strong>Appointments:</strong>
  </p>
  <% current_account.appointments.each do |appointment| %>
    <% if patient.name == appointment.patient.name %>
      <p>
        <%= appointment.time.strftime('%-I:%M%P') %>
        <%= appointment.date.strftime('%B %-d, %Y') %>
      </p>
    <% end %>
  <% end %>


</div>
