<div class="text-center">
  <h1>Doctors</h1>
</div>
<div class="row">

  <div class="col">
    <%= link_to "New Doctor", new_doctor_path, class:'btn btn-primary btn-sm' %>
  </div>

  <div class="text-end col">
    <%= link_to "Export Doctor CSV", doctor_export_path(format: 'csv'), class:'btn btn-secondary btn-sm' %>
  </div>
  
</div>
<hr/>

<table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th class="col-4" scope="col">Name</th>
        <th class="col-6" scope="col">Address</th>
        <th class="col-2" scope="col">Show</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      <% if current_account.doctors.empty? %>

        <tr>
          <td colspan="4" class="text-center">Added Doctors will appear here</td>
        </tr>

      <% else %>

        <% current_account.doctors.order(:name).each do |doctor| %>

          <tr>
            <td scope="row"><%= doctor.name %></td>
            <td><%= doctor.field %></td>
            <td class="text-center"><%= link_to "Doctor Details", doctor, class:'btn btn-primary btn-sm' %></td>
          </tr>
                    
        <% end %>

      <% end %>
    </tbody>
  </table>
