<div class="card" id="show">
  <div class="card-header text-center fs-5">Dr. <%= @doctor.name %></div>
  <div class="card-body">
    <p class="card-text"><%= render @doctor %></p>
    <div class="text-end">
      <%= link_to "Edit this Doctor", edit_doctor_path(@doctor), class:'text-end btn btn-primary btn-sm' %>
      <%= link_to 'Back to Doctors', doctors_path, class:'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>

<div class="text-end mt-4">
  <%= link_to "Delete Doctor", @doctor, class:'btn btn-danger btn-sm', data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete Dr. #{@doctor.name}'s Record?"
        } %>
</div>