<div id="<%= dom_id appointment %>">

  <p>
    <strong>Date:</strong>
    <%= appointment.date.strftime('%B %-d, %Y') %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= appointment.time.strftime('%-I:%M%P') %>
  </p>

  <p>
    <strong>Reason for Visit:</strong>
    <%= appointment.visit_reason %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= appointment.clinic.name %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor.name %> -
    <%= appointment.doctor.field %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient.name %>
  </p>

</div>
