<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :clinic_id, style: "display: block" %>
    <%= form.collection_select(:clinic_id, Clinic.all, :id, :name ) %>
  </div>

  <div>
    <%= form.label :doctor_id, style: "display: block" %>
    <%= form.collection_select(:doctor_id, Doctor.all, :id, :name ) %>
  </div>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.collection_select(:patient_id, Patient.all, :id, :name ) %>
  </div>

  <div>
    <% form.label :account_id, style: "display: block" %>
    <%= form.hidden_field :account_id, value: current_account.id %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
